{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title>Document</title>
</head>

<body>
  <header class="too">
    <div class="logo-container">
    <img src="{% static 'images/logo.jpg' %}" alt="myimage" style="height: 100px;" class="sport">
    <center><h1 class="head"> SportsHub Training Academy</h1></center>
  </div>
  </header>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="#news">News</a>
      <a href="{% url 'sports' %}"> Sports</a>
    <div class="dropdown">
      <button class="dropbtn"> Club
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Management</a>
        <a href="#">Privacy & Policy</a>
        <a href="{% url 'feedback' %}">Help & Feedback</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"> Facilities
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'gym' %}">Gym</a>
        <a href="{% url 'library' %}">Library</a>
        <a href="{% url 'medical' %}"> Medical Cell </a>
      </div>
    </div>



    <div class="dropdown">
      <button class="dropbtn"> Booking
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'coach' %}">Coach</a>
        <a href="#">Ground</a>
        <a href="#">Gym Trainer</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"> Events
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Previous Events</a>
        <a href="#">Upcoming Events</a>

      </div>
    </div>

    <a href=""> Notification  <span class="fa fa-bell" id="notification-icon"></span>
      <div id="notification-panel" style="display: none;"></a>
        </div>

    <div class="dropdown">
      <img src="{% static 'images/user.png' %}" alt="user" class="logo2">
      <div class="dropdown-content">
        <a href="#">My Profile</a>
        <a href="#">Edit Profile</a>
        <a href="#">Help</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <a href="{% url 'add' %}" class="join-now-button" target="_blank"><span>Join Now </span></a>
  </div>


  {% block content %}

  {% endblock %}


</body>

</html>